@model List<Color>
@{
    ViewData["Title"] = "Index";
}

@section AdminCSS{
    <link href="~/admin/assets/extrapages/material-dashboard.css" rel="stylesheet">
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div style="background-color: rgb(55,160,0)" class="shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Colors</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Color name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Color value</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Edit / Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Color color in Model)
                                {
                                <tr>
                                    <td class="px-1">
                                        <div class="d-flex">
                                            <h6 class="mb-0 text-sm mx-1">@color.Id</h6>
                                        </div>
                                    </td>
                                    <td class="px-1">
                                        <div class="d-flex">
                                            <h6 class="mb-0 text-sm mx-1">@color.Name</h6>
                                        </div>
                                    </td>
                                    <td class="px-1">
                                        <div class="d-flex">
                                            <span style="display:inline-block; border-radius:50%; width:30px;height:30px; background-color:@color.Value; 
                                                border: 3px solid rgb(218, 217, 217);"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <a style="text-decoration:none" asp-controller="color" asp-action="edit" asp-route-id="@color.Id">
                                            <i style="color: orange; font-size: 25px;" class="bi bi-pencil-square"></i>
                                        </a>
                                        <a style="text-decoration:none;" class="delete-item mx-2" asp-controller="color" asp-action="delete" asp-route-id="@color.Id">
                                            <i style="color: red; font-size: 25px;" class="bi bi-trash3"></i>
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a asp-controller="color" asp-action="create" style="font-size:14px; width:100%;" class="btn btn-outline-success">Create</a>
        </div>
        <div class="row justify-content-center mt-4 @(Model.Count == 0 ? "d-none" : "")">
            <nav aria-label="...">
                <ul class="pagination" style="justify-content:center">

                    <li class="page-item @(ViewBag.Currentpage == 1 ? "disabled" : "")">
                        <a onMouseOver="this.style.color='rgb(55,160,0)'" onMouseOut="this.style.color='grey'" style="width:70px;height:30px; font-size:12px; border-radius:2px!important;" class="page-link" asp-controller="color" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                    </li>

                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item  @(ViewBag.CurrentPage == i ? "active" : "")" style="pointer-events: @(ViewBag.CurrentPage == i ? "none" : "")"><a style="width: 30px; height: 30px; font-size: 12px; border-radius: 2px !important; background-color: rgb(55,160,0); border: 1px solid rgb(55,160,0); color:white;" class="page-link" asp-controller="color" asp-action="index" asp-route-page="@i">@i</a></li>
                    }

                    <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")">
                        <a onMouseOver="this.style.color='rgb(55,160,0)'" onMouseOut="this.style.color='grey'" style="width:70px;height:30px; font-size:12px; border-radius:2px!important;" class="page-link" asp-controller="color" asp-action="index" asp-route-page="@(ViewBag.CurrentPage +1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section AdminScripts{

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(".delete-item").click(function (e) {
            e.preventDefault()
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var link = $(this).attr("href")
                    fetch(link).then(response => response.json()).then(data => {
                        if (data.status == 200) {
                            setTimeout(() => location.reload(true), 700)
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                        }
                        else {
                            Swal.fire(
                                'Not found!',
                                'Your file can not be deleted.',
                                'Failed'
                            )
                        }
                    });
                }
            })
        })
    </script>
    }
