@model List<Setting>
@{
    ViewData["Title"] = "Index";
}

@section AdminCSS{
    <link href="~/admin/assets/extrapages/material-dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div style="background-color: rgb(55,160,0)" class="shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Setting</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Logo</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">New arrival image</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Subscribe image</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Setting setting in Model)
                                {
                                    <tr>
                                        <td class="px-1">
                                            <div class="d-flex">
                                                <h6 class="mb-0 text-sm mx-1">@setting.Id</h6>
                                            </div>
                                        </td>
                                        <td class="px-1">
                                            <div class="d-flex">
                                                @if (setting.Logo.Contains("https://"))
                                                {
                                                    <img style="width:140px;height:75px;" src="@setting.Logo" alt="logo image" />
                                                }
                                                else
                                                {
                                                    <img style="width:140px;height:75px;" src="~/assets/images/@setting.Logo" alt="logo image" />
                                                }
                                            </div>
                                        </td>
                                        <td class="px-1">
                                            <div class="d-flex">
                                                @if (setting.NewArrivalImage.Contains("https://"))
                                                {
                                                    <img style="width:140px;height:75px;" src="@setting.NewArrivalImage" alt="new arrival image" />
                                                }
                                                else
                                                {
                                                    <img style="width:140px;height:75px;" src="~/assets/images/@setting.NewArrivalImage" alt="new arrival image" />
                                                }
                                            </div>
                                        </td>
                                        <td class="px-1">
                                            <div class="d-flex">
                                                @if (setting.SubscribeImage.Contains("https://"))
                                                {
                                                    <img style="width:140px;height:75px;" src="@setting.SubscribeImage" alt="subscribe image" />
                                                }
                                                else
                                                {
                                                    <img style="width:140px;height:75px;" src="~/assets/images/@setting.SubscribeImage"
                                                         alt="subscribe image" />
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <a style="text-decoration:none" asp-controller="setting" asp-action="edit" asp-route-id="@setting.Id">
                                                <i style="color: orange; font-size: 25px;" class="bi bi-pencil-square"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @if (Model.Count == 0)
            {
                <a asp-controller="setting" asp-action="create" style="font-size:14px; width:100%;" class="btn btn-outline-success">Create</a>

            }
            else
            {

            }
        </div>
    </div>
</div>

