@model Product
@{
    ViewData["Title"] = "Create";
}



<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="fs-17 font-weight-600 mb-0">Create product</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="@Model.Name" class="font-weight-600">Enter name</label>
                            <input asp-for="@Model.Name" class="form-control">
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Price" class="font-weight-600">Enter price</label>
                            <input asp-for="@Model.Price" class="form-control">
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.Price"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description" class="font-weight-600">Enter description</label>
                            <input asp-for="@Model.Description" class="form-control">
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.Description"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.InStock" class="font-weight-600 form-check-label">Enter stock status</label><br />
                            <input asp-for="@Model.InStock">
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.InStock"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.IsDeleted" class="font-weight-600 form-check-label">Enter product deleted status</label><br />
                            <input asp-for="@Model.IsDeleted">
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.IsDeleted"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CampaignId" class="font-weight-600">Select Campaign</label><br />
                            <select asp-for="@Model.CampaignId" class="form-control" asp-items="@(new SelectList(ViewBag.Campaigns,"Id","DiscountPercent"))">
                                <option value="0">Select campaign</option>
                            </select>
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.IsDeleted"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.BrandId" class="font-weight-600">Select brand</label><br />
                            <select asp-for="@Model.BrandId" class="form-control" asp-items="@(new SelectList(ViewBag.Brands,"Id","Name"))">
                            </select>
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.BrandId"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.TagId" class="font-weight-600">Select tag</label><br />
                            <select asp-for="@Model.TagId" class="form-control" asp-items="@(new SelectList(ViewBag.Tags,"Id","Name"))">
                            </select>
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.TagId"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CategoryIds" class="font-weight-600">Select category</label><br />
                            <select asp-for="@Model.CategoryIds" class="form-control" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))">
                            </select>
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.CategoryIds"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ColorIds" class="font-weight-600">Select color</label><br />
                            <select asp-for="@Model.ColorIds" class="form-control" asp-items="@(new SelectList(ViewBag.Colors,"Id","Name"))">
                            </select>
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.ColorIds"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.SizeIds" class="font-weight-600">Select size</label><br />
                            <select asp-for="@Model.SizeIds" class="form-control" asp-items="@(new SelectList(ViewBag.Sizes,"Id","Value"))">
                            </select>
                            <span style="margin-top:10px;display:inline-block" class="text text-danger" asp-validation-for="@Model.SizeIds"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ImageFiles" class="font-weight-600">Enter images</label>
                            <input asp-for="@Model.ImageFiles" accept="image/*" class="form-control">
                            <span style="margin-top:10px; display:inline-block" class="text text-danger" asp-validation-for="@Model.ImageFiles"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a asp-controller="product" asp-action="index" class="btn btn-dark mx-3">Go back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section AdminScripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}